# Clerk Authentication Configuration
CLERK_SECRET_KEY=sk_live_I1hpFCSvWpI4CHbJinaRFuCEGu0ipUToVw2PTjZ5t6
# sk_test_vgmVghUesSDCpXwJKMQK5wdMMbVbbEuTe72jJkOx0I
CLERK_PUBLISHABLE_KEY=pk_live_Y2xlcmsuc3Bvb2RsZS5jbyQ
# pk_test_aW50ZXJuYWwtaGVycmluZy00MS5jbGVyay5hY2NvdW50cy5kZXYk

# # API Configuration (DEVELOPMENT)
# EXPO_PUBLIC_API_URL=http://localhost:3002

# API Configuration (PRODUCTION)
EXPO_PUBLIC_API_URL=https://main-production-ede9.up.railway.app